.bar {
    background-color: var(--black);
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 4px 0 var(--shadow);
}

/* .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px; 
} */
.bar .labels{
    width: 20vw; 
    display: flex;
    justify-content: space-around;
}


.nav:first-child {
    margin-left: 3vw;
}

.nav:last-child {
    margin-right: 3vw;
}

/* .bar input {
    display: none;
} */


.bar label {
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    transition-duration: 100ms;
    transition: ease;
    margin-bottom: -5px;
}

.bar button {
    color: var(--shadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    margin-bottom: -5px;

}

.bar a {
    background-color: transparent;
    color: var(--shadow);
    font-size: 25px;
    color: whitesmoke;
}

.bar a:hover {
    color: var(--green-accent);
}

.bar input[type='radio']:checked+label {
    color: var(--green-accent);
    background-color: transparent;
}

/* .select:last-child {
    width: 280px;
} */
.bar .questionContainer{
    width: 40vw; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    padding-right: 15px;
    
    }

.questionContainer .select {
   width: 100%;
    height: 2rem;
    color: var(--white);
    text-align: left;
    cursor: pointer;
    outline: none;
margin: 10px; 
    background-color: transparent;
}

.select:first-child {
    background-color: transparent;
    color: var(--background-white);
    text-align: center;
    width:max-content;
    border-radius: 2px;
    border:none;
}
.questionContainer {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: var(--background-white);
}
.question:before{
    position: absolute;
    content: 'selected question'; 
    color:var(--green-accent); 
    font-size: 10px;
    top: -2px;
    font-weight: normal;
}
.datePicker input {
    outline: none;
}
.datePicker input {
    width: 100px;
    margin-left: 25px;
}
.datePicker {
    display: flex;
    width: 10vw;
}