.bar {
    background-color: var(--black);
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 var(--shadow);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    
}

.nav:first-child {
    margin-left: 3vw;
}

.nav:last-child {
    margin-right: 3vw;
}

/* .bar input {
    display: none;
} */

.nav label {
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
    transition-duration: 100ms;
    transition: ease;
    margin-bottom: -5px;

}

.nav button {
    color: var(--shadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    margin-bottom: -5px;

}

.bar a {
    background-color: transparent;
    color: var(--shadow);
    font-size: 25px;
    color: whitesmoke;
}

.bar a:hover {
    color: var(--green-accent);
}

.bar input[type='radio']:checked+label {
    color: var(--green-accent);
    background-color: transparent;
}

/* .select:last-child {
    width: 280px;
} */

.select {
    height: 1.4rem;
    color: var(--white);
    text-align: left;
    cursor: pointer;
    outline: none;
    margin: 1.4rem 0 1.4rem 0;
    background-color: transparent;
    border: none;
}

.select:first-child {
    background-color: var(--whitesmoke);
    color: var(--black);
    text-align: center;
    width: 90px;
    border-radius: 10px;
}
.question {
    font-size: 14px;
    color: var(--green-accent);
    font-weight: bold;
}
.datePicker input {
    outline: none;
}
.datePicker input {
    width: 100px;
    margin-left: 25px;
}
.datePicker {
    display: flex;
    width: 220px;
}