.console {
    width: 100vw;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.surveyConsole{
    width: 100vw;
    height: 94vh;
    display: flex;
    background-color: var(--white-grey);

}