.create {
  width: 100vw;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5vh;
  gap: 15px;
}
.new, .old {
  height: 80vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: blue;
}
.createContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 15px;
  /* background-color: aquamarine; */
}
.new {
  width: 35vw;
  /* height: 30vh; */
}
.old {
  width: 55vw;
}
/* .create h2 {
  background-color: transparent;
  height: 35px;
  font-size: 22px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
} */
.new input {
  width: 90%;
  height: 35px;
  border: none;
  margin-right: 5%;
  padding: 2px;
  outline: none;
  border-radius: 2px;
  font-size: 16px;
}
.new button {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 17.5px;
  background-color: var(--green-accent);
  margin-right: calc(50% - 125px);
}
.new button:hover {
  background-color: var(--green);
}
.new button:disabled {
  background-color: var(--white);
  border: solid 2px var(--green-accent);
  color: var(--black);
  pointer-events: none;
}
.new p {
  width: 200px;
  text-align: center;
  margin-right: calc(50% - 100px);
  margin-top: 50px;
}
.response {
  color: var(--green);
  font-weight: bold;
}
.surveyContainer {
  overflow: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
  margin-left: 55px;
}
.survey {
  height: 115px;
  width: 97%;
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}
.pWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.survey p {
  padding-left: 10px;
  font-size: 16px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 10px;
}
.survey a {
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--green);
  font-size: 14px;
  margin-right: 10px;
  border-radius: 5px;
  color: var(--black);
}
.survey a:last-child {
  width: 130px;
}
.survey button {
  width: fit-content;
  position: absolute;
  font-size: 20px;
  color: var(--blackish);
  top: 5px;
  right: 15px;
  background-color: transparent;
  border: none;
  
}