
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  gap: 25px;
  scale: 1.5;
}

.title {
  min-width: 350px;
  width: var(--formwidth);
  height: 7vh;
}
.title h1 {
  font-size: 20px;
}
.title p {
  font-size: 12px;
}
sup {
  color: var(--mistake);
}

.question {
  min-width: 350px;
  width: var(--formwidth);
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  width: var(--formwidth);
  height: 40px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1.5px solid var(--black);
  padding: 2px;
  margin-top: -20px;
}
.tool label {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: whitesmoke;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  background-color: var(--black);
  color: var(--white);
}
.describers {
  width: var(--formwidth);
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  font-size: 12px;
}
.precomment {
  min-width: 350px;
  width: var(--formwidth);
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: -15px;
}
textarea {
  min-width: 350px;
  width: var(--formwidth);
  border: 1px solid var(--black);
  border-radius: 5px;
  margin-top: -20px;
  font-size: 12px;
  padding: 5px;
  outline: none;
  resize: none;
}

.button {
  width: 100px;
  height: 35px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -10px;
}
.button:hover {
  background-color: var(--lightblue);
}
@media (max-width: 1000px) {
  :root {
    --formwidth: 60vw;
  }
}
