.surveys {
  width: 90vw;
  height: 95vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.data {
    width: 80%;
    min-height: 200px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }