.comments{
    margin: 10px;
    background-color: var(--background-white);
}
.commentsContainer{
    display:flex; 
    width: 68vw; 
   border-bottom: 1px solid var(--green-accent);
}
.detailsContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    height: 150px; 
    align-items: flex-start;
    margin-left: 10px;
}
.surveyUrl .iFrame .delete{
    display: flex;
    height:100px; 
    overflow:auto;
    justify-content: center;
}
.surveyUrl a{
    color: green;
    background-color: transparent;
}

.name::before{
    content:"Name: ";  
}
.question:before{
    content: "Question: "
}
.aa{
    background-color: white;
    width: auto;
    height: auto;
}
