.navigation {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato";
  text-decoration: none;
}
.navigation li {
  list-style: none;
  padding: 10px;
}
.link {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: black;
}
.link:hover {
  color: red;
}
