@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Merriweather:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /*font-weight: 500;*/
  transition: ease;
  transition-duration: 0.2s;
}
:root {
  /* colors according to style guide */
  --background-white: #fafafa;
  --whitesmoke: #fafafa;
  --white: #ffffff;
  --text-white:#f5f5f5;
  --white-grey: #eeeeee;
  --dashboard-background:#e5e5e5; 
  --effect-PHZorane: #ed6930;
  --black: #303030;
  --blackish: #6e6e6e;
  --green-accent: #7dcfb6;
  --button: #7dcfb6;
  --button-hover: #0092ae;

  /*needs to be checked / unified*/
  --shadow: rgba(15, 13, 13, 0.2);
  --gentleblue: #339989;
  --gentlepink: #7de2d1;

  /* 2.5. added dashboard color variables SL */
  --passive-green: #00B2CA; 
  --promoters-navy: #1D4e89; 

  --mistake: #ef476f;
  --lightblue: #48cae4;
  --green: #02c39a;

  --formwidth: 40vw;
  --barWidth: 13vw;
}
body {
  background-color: var(--background-white);
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: 'Merriweather', serif;*/
}
h1 {
  font-size: 24px;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
button {
  cursor: pointer;
}

/*@media (max-width: 1000px) {
  :root {
    --formwidth: 60vw;
  }
}*/
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 0.05s;
}

.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 0.05s;
}
