.Comments {
  width: 60vw;
  height: calc(39vh + 12.5px);
  background-color: transparent;
}
.commentsContainer {
  height: calc(39vh + 12.5px - 35px);
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 5px;
}
.comment {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.date, .score, .content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(((39vh + 12.5px - 35px) / 10) - 6px);
  height: 100%;
  background-color: var(--comment);
  border-radius: 3px;
  font-size: 14px;
}
.date {
  width: 20%;
}
.score {
  width: 15%;
}
.content {
  width: 65%;
  justify-content: flex-start;
  padding: 10px;
}
.tableHeader {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--black);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.tableHeader .date, .tableHeader .score, .tableHeader .content {
  height: 35px;
  background-color: transparent;
  color: var(--white);
  font-weight: bold;
  justify-content: center;
}
.tableHeader .score, .tableHeader .date {
  cursor: pointer;
}
.tableHeader span{
  color: var(--green-accent);
  margin-top: 3px;
}