.dashboard {
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* gap: 15px; */
}

/* === headings / texts / general elements ===  */

h5 {
  font-weight: normal;
  font-size: 24px;
}
p{
  color: var(--black);
}
.data {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.trendBox{
  gap:0;
  display: flex; 
  flex-direction: column;
}
 .panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--background-white);
  box-shadow: 0 0 4px 0 var(--shadow);
  border-radius: 2px;
}
.panel:hover {
  box-shadow: 0 0 8px 0 var(--shadow);
}
.panelHeader{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width:100%; 
  padding: 6px 0;
  background-color: var(--black);
  color: var(--text-white);
}
.panel p {
  font-size: 1.2rem;
}
.panel span {
  font-size: 1.5rem;
} 
.header {
  font-size: 1rem;
}
/* === doughnut chart section ====  */
.respondersWraper {
  display: flex;
  flex-direction: column;
  width: 100%; 
  /* justify-content: center; */
  align-items: center;
}

.resultWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%; 
}
.resultWraper > h5{
  padding: 6px 0; 
}
.doughnutWrap{
  position: relative;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 0.05s;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 0.05ы;
  
}