.selectWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-grey);
  box-shadow: 0 0 4px 0 var(--shadow);
  height: 3rem;
  padding: 0 2rem;
  margin-bottom: 5px;
  border-radius: 2px;
}
.selectWrapper:hover {
  box-shadow: 0 0 8px 0 var(--shadow);
}
